{% extends 'base.html'%}

{% block body %}

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2>Skill map</h2>
      <p class="lead text-muted">Приложение Skill map предназначено для создания некоторого списка классов и объектов. Во вкладке "Создать запись" можно создать новый класс, новый объект или изменить информацию о каком-то объекте. Во вкладке "Просмотр записей" можно увидеть список классов и объектов, а также информацию о каждом объекте. Во вкладке "Просмотр карты" можно посмотреть сколько объектов принадлежат каждому классу.</p>
      <h5>Выберите действие</h5>
      <p>
        <a href="/new_data" class="btn btn-success">Создать запись</a>
        <a href="/class_data" class="btn btn-primary my-2">Просмотр записей</a>
        <a href="/info_data" class="btn btn-primary my-2">Просмотр карты</a>
      </p>
    </div>
  </div>

{% endblock %}